.app-shop {
    .logo {
        height: 4rem;
        width: 4rem;
        margin: .8rem;
    }

    .brand-name {
        font-size: 2rem;
    }

    .cart {
        table {
            width: 100%;
            margin: 2rem 0;
        }
        .cart-sum{
            font-weight: bold;
            margin-top:1rem;
        }
    }
}